[unit]
Description=MAVProxy Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/mavproxy
ExecStart=/home/pi/quadpi/.venv/bin/mavproxy.py --daemon --non-interactive --continue --master=/dev/ttyAMA0 --baud=115200 --aircraft AutoSparky --out=tcpin:0.0.0.0:5760
Restart=always

[Install]
WantedBy=multi-user.target